<div class="card-body">

    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">All (100)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Running (25)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Stopped (50)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Idle (25)</a>
        </li>
      </ul>

      <div class="row">
          <div class="col">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </div>
      </div>

    <div class="row">

        <div class="col-sm-12 col-md-6 mb-5">
            <div class="card">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <img class="icon"
                                    src="https://upload.wikimedia.org/wikipedia/en/4/41/Flag_of_India.svg">
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-6 col-sm-3"><i class="fas fa-battery-full"></i> 11.5v</div>
                                    <div class="col-3 offset-3 col-sm-1 offset-sm-4"><i class="fas fa-signal"></i></div>
                                    <div class="col-10 col-sm-4">10/05/2021 10.00 AM</div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <h6>Maruti Suzuki Ertiga - MH12KJ7744</h6>
                                            <div class="col-sm-6"><i class="fas fa-car-side"></i> Running</div>
                                            <div class="col-sm-6"><i class="fas fa-tachometer-alt"></i> 100 Kmph</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6"><i class="fas fa-tachometer-alt"></i> 9900000</div>
                                            <div class="col-sm-6"><i class="fas fa-temperature-high"></i> 10 &#8451;
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3"><i class="fas fa-gas-pump"></i> Fuel</div>
                                            <div class="col-sm-9">
                                                <meter id="disk_d" value="0.8" style="width: 100%;">60%</meter>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4"
                                        style="border-left-color: lightgray; border-left-style: solid;border-left-width: thin;">
                                        <div class="row">
                                            <div class="col-11">
                                                Sensors
                                            </div>
                                            <div class="col-11">
                                                <i class="fas fa-gas-pump"></i> Fuel
                                            </div>
                                            <div class="col-11">
                                                <i class="fas fa-temperature-high"></i> Temperature
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>







        <div class="col-sm-12 col-md-6 mb-5">
            <div class="card">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <img class="icon"
                                    src="https://upload.wikimedia.org/wikipedia/en/4/41/Flag_of_India.svg">
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-6 col-sm-3"><i class="fas fa-battery-full"></i> 11.5v</div>
                                    <div class="col-3 offset-3 col-sm-1 offset-sm-4"><i class="fas fa-signal"></i></div>
                                    <div class="col-10 col-sm-4">10/05/2021 10.00 AM</div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <h6>Maruti Suzuki Ertiga - MH12KJ7744</h6>
                                            <div class="col-sm-6"><i class="fas fa-car-side"></i> Running</div>
                                            <div class="col-sm-6"><i class="fas fa-tachometer-alt"></i> 100 Kmph</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6"><i class="fas fa-tachometer-alt"></i> 9900000</div>
                                            <div class="col-sm-6"><i class="fas fa-temperature-high"></i> 10 &#8451;
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3"><i class="fas fa-gas-pump"></i> Fuel</div>
                                            <div class="col-sm-9">
                                                <meter id="disk_d" value="0.8" style="width: 100%;">60%</meter>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4"
                                        style="border-left-color: lightgray; border-left-style: solid;border-left-width: thin;">
                                        <div class="row">
                                            <div class="col-11">
                                                Sensors
                                            </div>
                                            <div class="col-11">
                                                <i class="fas fa-gas-pump"></i> Fuel
                                            </div>
                                            <div class="col-11">
                                                <i class="fas fa-temperature-high"></i> Temperature
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>